body{
    background-image: url('../../images/bg-pattern-desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
#body{
    display: flex;
    justify-content: center;
    height: 80%;
    width: 100%;
}
#left{

    width: 50%;
     margin-left: 8rem;
     padding: 2rem;
     height: 94%;
}
#mobileimg{
    display: none;
}
#textcontainer{
 
   padding-top: 15%;
   max-height:60% ;
   width: 90%;
    
}
#come{
    font-family: 'Courier New', Courier, monospace;
    font-size: 7rem;
    font-weight: 500;
}
#hello{

    max-width: 70%;
}
.purple{
    color: rgb(240 150 173);
}
#right{

    width: 50%;
    height: 100%;
}
#input{
    padding: 10px;
    width: 300px;
    border-radius: 2rem;
    border: 2px solid rgb(207, 96, 202);
    background-color: rgb(255 249 249);
    margin-top: 5%;
}
#arrow{
    background-color:rgb(207, 96, 202);
    width: 4rem;
    height:3rem;
    border-radius: 2rem;
    border-color:rgb(207, 96, 202);
    outline: none;
}
#hero{
height: 87.66vh;
width: 50vw;
    
}

::placeholder{
    color:  rgb(207, 96, 202);
}
@media screen and (max-width: 740px){
    body{
        margin: 0;
    }
    #right  {
        display: none;
    }
    #mobileimg{
        display: inline;
    }
     #textcontainer{
        padding-top:2%;
        max-height:60% ;
        width: 90%;
        margin-right: 3rem;
        margin-top: 3rem;
     }
     #come{
        font-family: 'Courier New', Courier, monospace;
        font-size: 5rem;
        font-weight: 500;
    }
    #mobileimg{
        margin-top: 2rem;
        max-width: 90%;
    }
    #input{
        padding: 10px;
        width: 200px;
        border-radius: 2rem;
        border: 2px solid rgb(207, 96, 202);
        background-color: rgb(255 249 249);
        margin-top: 5%;
    }
     .purple{
        color: rgb(240 150 173);
        text-align: center;
    }
    #hello{
        max-width: 100%;
    }
     #left{
        padding-right: 0px;
        width: 89%;
         margin-left: 0rem;
         padding: 1rem;
         height: 100%;
    }
    #arrow{
       
        background-color:rgb(207, 96, 202);
        width: 40px;
        height:2.6rem;
        border: none;
        border-radius: 2.3rem;
        border-color:rgb(207, 96, 202);
        outline: none;
    }
}